.header img {
    height: 45px;
}

.header_container {
    display: flex;
    margin-left: auto;  
    gap: 26px;
}

.header_menu {
    display: flex;  
    flex-grow: 1;
}

.header_menu-item {
    color: #FAFDF2;
    font-size: 18px;
    font-weight: 600;
    list-style: none;
    padding: 14px;
    gap: 26px;
}

#header_menu-item-blog {
    color: #CBEA7B;
}

.header_button {
    padding: 14px 24px;
    background-color: #CBEA7B;
    color: #262626;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
}

/* Мобильная версия */
@media (max-width: 768px) {
    .header img {
        height: 34px;
    }
    .header_nav {
        display: none;
        flex-grow: 1;
        flex-direction: column;
        position: absolute;
        top: 50px;
        right: 20px;
        background-color: #356554;
        border-radius: 4px;
        gap: 10px;
        padding: 20px;
    }

    .header_nav.active {
        display: flex;
    }
    
    .header_menu {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0;
        gap: 15px;
        margin: 0;
    }
    
    .header_menu-item {
        color: #FAFDF2;
        font-size: 18px;
        font-weight: 600;
        list-style: none;
        padding: 14px;
    
    }
    
    #header_menu-item-blog {
        color: #CBEA7B;
    }
    
    .header_add-menu {
        display: flex;
        flex-direction: column;
        margin: auto;
      }
      
      .header_add-menu-line {
        margin: 2px;
        width: 25px;
        height: 3px;
        background-color: #CBEA7B;
        transition: all 0.5s ease;
      }

    .header_button {
        display: none;
    }
}
