@import url("header.css");
@import url("main.css");
@import url("footer.css");
@import url("titleBlock.css");
@import url("featuresBlock.css");
@import url("blogsBlock.css");
@import url("prisingBlock.css");

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
	font-family: "Urbanist", sans-serif;
}

body {
	max-width:1920px;
	margin:0 auto;
}

/* Мобильная версия */
@media (max-width: 768px) {
    body {
        max-width:768px;
        margin:0 auto;
    }
}